Microsoft Windows [Version 10.0.26200.8655]
(c) Microsoft Corporation. All rights reserved.

C:\Users\rathe\OneDrive\Desktop\Pyfest>

C:\Users\rathe\OneDrive\Desktop\Pyfest>

C:\Users\rathe\OneDrive\Desktop\Pyfest>

C:\Users\rathe\OneDrive\Desktop\Pyfest>C:\Users\rathe\OneDrive\Desktop\Pyfest>C:\Users\rathe\OneDrive\Desktop\Pyfest>
C:\Users\rathe\OneDrive\Desktop\Pyfest>